################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/socket_ipv4/v16/Browse.VC.opendb
